{% extends "auctions/layout.html" %}

{% block body %}

<h1>Create Listing</h1>

{% if message %}
{{ message }}
{% endif %}

<form action="{% url 'create' %}" method="POST">
    {% csrf_token %}
    {% for field in form %}
    <div class="row">
        <div class="col-1">
            {{ field.label_tag }}
        </div>
        <div class="col-1">
            {{ field }}
        </div>
    </div>
    {% endfor %}
    <input class="btn btn-primary" type="submit" value="Create Listing">
</form>


{% endblock %}